{{template "partials/sidebar" .}}
<main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
      <!-- Your content -->
      <div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=orange&shade=600" alt="Your Company">
          <h2 class="mt-6 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Tính tiền điện</h2>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
          <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
            <div class="space-y-6" >
              <div>
                <label for="sodien" class="block text-sm font-medium leading-6 text-gray-900">Mời nhập số điện:</label>
                <div class="mt-2">
                  <input id="sodien" name="sodien" type="number" min="0" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-orange-600 sm:text-sm sm:leading-6">
                </div>
              </div>
      
              
              <div>
                <button onclick="run_wasm()" class="flex w-full justify-center rounded-md bg-orange-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-orange-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">Tính tiền</button>
              </div>
            </div>
      
            <div>
              <div class="relative mt-10">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-200"></div>
                </div>
                <div class="relative flex justify-center text-sm font-medium leading-6">
                  <span class="bg-white px-6 text-gray-900">Kết quả</span>
                </div>
              </div>
      
              <h2 id="content" class="mt-6 text-sm font-medium leading-6 text-gray-900 bg-neutral-300 rounded-md py-1.5 px-2"></h2>

            </div>
          </div>
      
        </div>
      </div>
      
    </div>
  </main>
  <script type="module" defer src="/js/function.js"></script>
  <script type="module" defer src="/contents/tinhtiendien/css.js"></script>
  <script>
    let exports;
    WebAssembly.instantiateStreaming(
      fetch("/contents/tinhtiendien/main.wasm"), {}
    ).then(results => exports = results.instance.exports)

    function run_wasm() {
      document.querySelector("#content").innerHTML = ""
      let soDien = document.querySelector("#sodien").value;
      
      let tienDien = exports.TinhTienDien(soDien)

      document.querySelector("#content").innerHTML += `Số tiền cần trả bao gồm cả thuế là ${Math.ceil(tienDien)} đồng<br/>`
      
    }
  </script>